@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@400;700&display=swap');
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
:root {
  --primary-color: #8ca7bd;
  --secondary-color: #e5edf5;
  --accent-color: #f28c52;
  --primary-color-dark: #1a1f2b;
  --secondary-color-dark: #424242;
  --secondary-color-dark-90: rgba(66, 66, 66, 0.9);

  --accent-color-dark: #7e4728;
  --gray-900: #2d3032;
  --gray-700: #4b5054;
  --gray-500: #7c8386;
  --gray-300: #bcc3c9;
  --gray-100: #e8ebee;
  --body-copy: 'Raleway', sans-serif;
  --heading: 'Abril Fatface', cursive;
}

body {
  background: var(--gray-100);
  font-family: var(--body-copy);
  color: var(--gray-900);
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-size: 2em;
  color: var(--gray-900);
}

.light-text {
  color: var(--gray-100);
}

h4 {
  margin: 0;
}

.triangle {
  width: 60px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.logo h4 {
  color: var(--gray-100);
  font-size: 1.3em;
}

.nav-toggle {
  display: none;
}

.hamburger {
  position: relative;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  font-size: 2em;
  cursor: pointer;
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--primary-color-dark);
}

nav ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  top: 43px;
  padding: 1em;
  background: var(--secondary-color-dark-90);
  transition: all 0.5s;
  opacity: 0;
}

#check {
  display: none;
}

#check-label {
  font-size: 2em;
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: var(--gray-100);
  transition: 0.3s;
}

#check-label:hover {
  color: var(--accent-color);
}

#check:checked ~ nav ul {
  opacity: 1;
  left: 0;
}

nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--gray-100);
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  border-bottom: 0.5px solid var(--gray-100);
}

nav a:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

button {
  padding: 1em 1.5em;
  border: none;
  border-radius: 25px;
  background: var(--accent-color);
  color: var(--gray-100);
  margin: 0 0.5em;
  font-weight: 700;
  text-transform: uppercase;
}

header button {
  background: var(--gray-100);
  color: var(--accent-color);
}

button:hover {
  background: var(--gray-900);
  color: var(--gray-100);
  transition: 0.3s;
}

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/hero-photo.jpg);
  background-size: cover;
}

.triangle {
  position: relative;
  top: -20px;
}

.hero-content-title {
  width: 80%;
}

.hero-content-title img {
  width: 100%;
}

.hero-content-title button {
  display: block;
  margin: 55px auto;
}

header h1 {
  font-size: 3.5em;
  margin: 0;
  color: var(--secondary-color);
}

header h2 {
  margin-top: 0;
}

.card {
  text-align: center;
}

.great-outdoors {
  background: var(--primary-color-dark);
  color: var(--gray-100);
  padding-bottom: 1em;
}

.content {
  padding: 2em 5em;
  border: 1px solid var(--gray-100);
  margin: 2em;
}

.city {
  background: url(images/cityscape.jpg);
  background-size: cover;
  background-position: right;
  padding: 1em 0;
}

.spaces-photo img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.content {
  color: var(--gray-100);
}

.content h1 {
  color: var(--gray-100);
}

.reverse {
  flex-direction: row-reverse;
}

.three-col-left .content {
  width: 50%;
}

.testimonials h1 {
  text-align: center;
  font-size: 3em;
}

.testimonials {
  position: relative;
}

.testimonials::before {
  content: '\201c';
  position: absolute;
  /* width: 150px;
  height: 150px; */
  border-radius: 50%;
  text-align: center;
  font-size: 20em;
  color: var(--gray-300);
  top: 0;
  left: 10px;
  font-family: var(--heading);
  z-index: -10;
}

.food {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(40%);
  text-align: center;
}

.food-content-large {
  grid-column: 1/3;
  /* grid-row: 2/4; */
  text-align: left;
  padding: 4em;
}

.food-content {
  padding: 2em;
}

.food-content-large span {
  color: var(--accent-color);
}

.food-content-large h1 {
  text-transform: uppercase;
}

.food-photo-two-col {
  grid-column: 1/3;
}

.food-light {
  background: var(--gray-100);
}

.food-dark {
  background: var(--gray-300);
}

.form-container {
  margin: 100px auto 0;
  width: 80%;
  /* filter: drop-shadow(5px 5px 0.5rem var(--gray-900)); */
}

.form-photo {
  /* flex: 1; */
  background: #333;
  background-image: url('images/house-with-keys.jpg');
  background-size: cover;
  height: 400px;
}

.form-content {
  /* flex: 1; */
  text-align: center;
}

form {
  /* width: 300px; */
  background: var(--secondary-color);
  padding: 3em;
  text-align: center;
}

form div {
  margin: 15px;
}

label {
  line-height: 2.5;
  font-size: 0.8em;
}

form input {
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  border-left: 4px solid #000;
  background: rgba(255, 255, 255, 0.4);
}

.agree input {
  width: auto;
}

.booking {
  height: 100vh;
  background: url(images/booking-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-content {
  text-align: center;
}

.booking-content h1 {
  font-family: var(--body-copy);
  color: var(--gray-100);
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}

footer {
  padding: 2em;
  background: var(--primary-color);
  text-align: center;
}

footer li {
  list-style-type: none;
}

footer ul {
  margin: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  color: var(--gray-900);
  text-transform: uppercase;
}

footer a:hover {
  color: var(--accent-color);
}

.social-media {
  color: var(--gray-900);
  font-size: 2em;
  padding: 1em;
}

.social-media i {
  padding: 0.1em;
}

.flickity-viewport {
  transition: height 0.2s;
}

.main-carousel {
  margin: 50px auto;
}

.carousel-cell {
  width: 90%;
  height: 500px; /* height of carousel */
  margin-right: 15px;
  /* background: var(--secondary-color); */
  color: var(--gray-900);
  padding: 2em;
}

.carousel-cell h2 {
  color: var(--gray-900);
}

.slidesetImg {
  height: 100% !important;
}

@media screen and (min-width: 960px) {
  .hero-content-title {
    width: 50%;
  }
  nav ul {
    all: unset;
    display: flex;
  }

  nav a {
    font-size: 1em;
    border: none;
  }

  header {
    flex-direction: row;
  }

  .great-outdoors {
    display: flex;
    padding: 0;
  }

  .great-outdoors > * {
    flex: 1;
  }

  .results {
    background-image: url('images/couple-and-child.jpg');
    background-size: cover;
  }

  .two-col {
    display: flex;
    align-items: start;
    /* gap: 1em; */
    margin: 40px 0;
  }

  .two-col > * {
    flex: 1;
  }

  .three-col {
    display: flex;
  }

  .three-col-left {
    flex: 2;
  }

  .three-col-right {
    flex: 1;
  }

  .carousel-cell {
    padding: 2em 15em;
  }
  /*****Food Section ***/

  .food-content-large {
    grid-column: 3/4;
    grid-row: 2/4;
    text-align: left;
    padding: 4em;
  }

  .food {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .food-photo-two-col {
    all: unset;
  }

  .form-container {
    display: flex;
  }

  .form-container > * {
    flex: 1;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-top > * {
    flex: 1;
  }

  #check-label {
    display: none;
  }

  /* .toggle-label {
    display: none;
  } */
}
